﻿@using Newtonsoft.Json;
@using eConsultas_MVC.Models;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@model UsersInfo
@{
    Layout = "_AdminLayout";
    string userJson = HttpContextAccessor.HttpContext.Session.GetString("User");
    var user = JsonConvert.DeserializeObject<UserMV>(userJson);
    string imgUrl = HttpContextAccessor.HttpContext.Session.GetString("UserImg");
    string isImg = null;
    if (imgUrl != null)
    {
        isImg = imgUrl;
    }
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Update User Profile</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    <!-- Se ImgUrl não for nulo ou vazio, exiba a imagem -->
                    @if (!string.IsNullOrEmpty(isImg))
                    {
                        <img src="@Url.Content(isImg)" class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/DashBoard/img/defaultUser.png")" class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60" />
                    }

                    <h2>@Model.User.FullName</h2>
                    <h3>@Model.User.UserType</h3>
                    <form class="row" method="post" enctype="multipart/form-data" id="uploadForm" asp-controller="DashBoard" asp-action="AddFile">
                        <div class="col-md-8">
                            <label class="form-label" for="customFile">Default file (jpg - JPEG - PNG)</label>
                            <input type="file" class="form-control" id="file" name="file" />
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <button type="submit" class="linkedin btn btn-primary"><i class="bi bi-upload"></i> Upload</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-bio">General Bio</button>
                        </li>

                        @if (user.UserType == "SuperAdmin")
                        {
                            <p>dicione os campos e lógica específica para SuperAdmin aqui. </p>   
                        }

                        @if (user.UserType == "Doctor")
                        {
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-Specialization">Specialization</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-Clinic">Clinic</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-fees">Fees</button>
                            </li>
                        }
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                        </li>
                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-bio">
                            @if (user.UserType == "Doctor")
                            {
                                <h5 class="card-title">About</h5>
                                <p class="small fst-italic">@Model.Doctor.AdInfo.</p>

                            }
                            <h5 class="card-title">Profile Details</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                <div class="col-lg-9 col-md-8">@Model.User.FullName</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">@Model.User.Email</div>
                            </div>
                            @if (user.UserType == "Doctor")
                            {
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Especialization</div>
                                    <div class="col-lg-9 col-md-8">@Model.Doctor.Especialization</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Fees</div>
                                    <div class="col-lg-9 col-md-8">@Model.Doctor.Fees EUR</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Region</div>
                                    <div class="col-lg-9 col-md-8">@Model.Doctor.Region</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">City</div>
                                    <div class="col-lg-9 col-md-8">@Model.Doctor.City</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Address</div>
                                    <div class="col-lg-9 col-md-8">@Model.Doctor.Address</div>
                                </div>
                            }
                        </div>

                        <div class="tab-pane fade profile-edit pt-3" id="profile-Specialization">

                            @if (user.UserType == "Doctor")
                            {
                                <form method="post" asp-action="UpdateUser">

                                    <select class="form-select" id="Specialization" asp-for="@Model.Doctor.Especialization" aria-label="Specialization">
                                        <option value="" selected>Select Specialization</option>
                                        <option value="Cardiology">Cardiology</option>
                                        <option value="Dermatology">Dermatology</option>
                                        <option value="Gynecology">Gynecology</option>
                                        <option value="Orthopedics">Orthopedics</option>
                                        <option value="Pediatrics">Pediatrics</option>
                                        <option value="Ophthalmology">Ophthalmology</option>
                                        <option value="Neurology">Neurology</option>
                                        <option value="Urology">Urology</option>
                                    </select>
                                    <br />
                                    <div class="text-left">
                                        <button type="submit" asp class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            }
                        </div>

                        <div class="tab-pane fade pt-3" id="profile-Clinic">

                            <!-- Settings Form -->
                            <form class="row g-3" method="post" asp-action="UpdateUser">
                                <div class="col-md-6">
                                    <select class="form-select col-md-6" id="region" asp-for="@Model.Doctor.Region" aria-label="Region">
                                        <option value="" selected>Select Region</option>
                                        <option value="Norte">Norte</option>
                                        <option value="Centro">Centro</option>
                                        <option value="Sul">Sul</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-select" id="region" asp-for="@Model.Doctor.City" aria-label="City">
                                        <option value="" selected>Select City</option>
                                        <option value="Lisbon">Lisbon</option>
                                        <option value="Porto">Porto</option>
                                        <option value="Faro">Faro</option>
                                        <option value="Coimbra">Coimbra</option>
                                        <option value="Braga">Braga</option>
                                        <option value="Aveiro">Aveiro</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" asp-for="@Model.Doctor.Address" placeholder="Your Clinic Address">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form><!-- End settings Form -->

                        </div>

                        <div class="tab-pane fade pt-3" id="profile-fees">

                            <form class="row g-3" method="post" asp-action="UpdateUser">
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Info" asp-for="@Model.Doctor.AdInfo" id="floatingTextarea" style="height: 100px;"></textarea>
                                        <label for="floatingTextarea">Information</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                                <div class="col-md-10">
                                    <input type="number" class="form-control" asp-for="@Model.Doctor.Fees" placeholder="Fees">
                                </div>
                            </form><!-- End settings Form -->

                        </div>

                        <div class="tab-pane fade pt-3" id="profile-change-password">
                            <!-- Change Password Form -->
                            <form method="post" asp-action="ChangePassword">

                                <div class="row mb-3">
                                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="ChangePassword.OldPwd" type="password" class="form-control" id="ChangePassword.OldPwd">
                                    </div>
                                </div>
                                <span asp-validation-for="ChangePassword.OldPwd" class="text-danger"></span>
                                <div class="row mb-3">
                                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="ChangePassword.NewPwd" type="password" class="form-control" id="ChangePassword.NewPwd">
                                    </div>
                                </div>
                                <span asp-validation-for="ChangePassword.NewPwd" class="text-danger"></span>
                                <div class="row mb-3">
                                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="ChangePassword.ConfirmPwd" type="password" class="form-control" id="ChangePassword.NewPwd">
                                    </div>
                                </div>
                                <span asp-validation-for="ChangePassword.ConfirmPwd" class="text-danger"></span>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </div>
                            </form><!-- End Change Password Form -->

                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>

<style>
    .linkedin {
        margin-top: 2rem;
    }
</style>